---
import ArrowRightIcon from "../assets/arrow-right-icon.svg";
import AiotronicLogo from "../assets/aiotronic-logo.svg";
import FoundedIcon from "../assets/founded.svg";
import InternationalMarketsIcon from "../assets/international-markets.svg";
import ClientsIcon from "../assets/clients.svg";
import AiotronicMiniIcon from "../assets/aiotronic-mini.svg";
import AiotronicHorizontalIcon from "../assets/aiotronic-horizontal.svg";
import FacebookIcon from "../assets/facebook-icon.svg";
import LinkedinIcon from "../assets/linkedin-icon.svg";

import FirstStepImg from "../assets/first-step.svg";
import SecondStepImg from "../assets/second-step.svg";
import ThirdStepImg from "../assets/third-step.svg";
import ElectricFenceImg from "../assets/electric-fence.png";

import UbicationIcon from "../assets/ubication-icon.svg";
import PhoneIcon from "../assets/phone-icon.svg";
import MaileIcon from "../assets/mail-icon.svg";

import Card from "../components/Card.astro";
import Input from "../components/Input.astro";
import GsapClient from "../components/GsapClient";

const articles = [
  {
    label: "Fundado",
    description: "Construido desde hace más de 20 años",
    img: FoundedIcon,
  },
  {
    label: "Mercados Internacionales",
    description: "Presencia en distintos países",
    img: InternationalMarketsIcon,
  },
  {
    label: "Clientes",
    description:
      "Decenas de Clientes satisfechos por la calidad y tiempo de entregas",
    img: ClientsIcon,
  },
];

const stepsImgs = [FirstStepImg, SecondStepImg, ThirdStepImg];

const currentTime = new Date();
const currentYear = currentTime.getFullYear();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiotronic</title>
  </head>
  <body class="h-full min-h-screen text-white">
    <header
      class="max-w-[70%] mx-auto w-full absolute left-1/2 -translate-x-1/2 py-2"
    >
      <nav class="flex justify-between items-center max-lg:hidden">
        <img
          src={AiotronicHorizontalIcon.src}
          alt={AiotronicHorizontalIcon.name}
          width="200px"
        />
        <ul class="flex font-medium gap-8">
          <li class="cursor-pointer">Inicio</li>
          <li class="cursor-pointer">Conocenos</li>
          <li class="cursor-pointer">Contacto</li>
        </ul>
        <div class="flex gap-5">
          <img
            src={FacebookIcon.src}
            alt={FacebookIcon.name}
            width="38"
            height="37"
            class="cursor-pointer"
          />
          <img
            src={LinkedinIcon.src}
            alt={LinkedinIcon.name}
            width="35"
            height="35"
            class="cursor-pointer"
          />
        </div>
      </nav>
    </header>
    <section
      class="flex flex-col min-h-screen w-full bg-linear-to-t to-[#13315C] from-[#000000] justify-center items-center"
    >
      <div class="md:max-w-[70%] mx-auto flex flex-col gap-15">
        <h2 class="title text-5xl md:text-[70px] text-center">
          Creamos Soluciones <strong>electrónicas</strong> y en <strong
            >plástico</strong
          >
        </h2>
        <p class="text-sm md:text-xl text-center max-w-8/12 mx-auto">
          Somos una empresa fabricante especializada en el desarrollo de
          soluciones electrónicas y productos plásticos utilizando tecnología de
          moldeo por inyección.
        </p>

        <div class="flex justify-center">
          <div
            class="rounded-full border border-white flex justify-center items-center px-1.5 py-1 w-fit"
          >
            <p class="max-sm:text-sm mx-2">Agenda una reunión sin costo</p>
            <img src={ArrowRightIcon.src} alt="Arrow Right Icon" width="40" />
          </div>
        </div>
      </div>
    </section>
    <section class="min-h-screen bg-black">
      <div class="md:max-w-[70%] mx-auto max-md:p-5">
        <div class="flex grid-cols-1 max-md:grid-cols-3">
          <div
            class="col-span-3 grid grid-cols-12 border border-[#536DFF] rounded-lg bg-[#050F1E] justify-center"
          >
            <img
              src={AiotronicLogo.src}
              alt="Aiotronic Logo"
              class="col-span-12 md:col-span-6"
            />
            <div
              class="flex flex-col justify-center items-center gap-5 col-span-12 md:col-span-6 p-5"
            >
              <h3 class="text-4xl font-medium text-center">¿Quienes Somos?</h3>
              <p class="md:max-w-1/2 text-center text-xl">
                Nuestra empresa se destaca por su enfoque en la automatización
                de procesos, la constante innovación y el desarrollo
                tecnológico.
              </p>
            </div>
          </div>
        </div>

        <div
          class="grid grid-cols-1 md:grid-cols-3 justify-between mt-10 gap-10"
        >
          {
            articles.map((a) => (
              <Card label={a.label} description={a.description} img={a.img} />
            ))
          }
        </div>
      </div>
    </section>
    <section class="min-h-screen bg-black">
      <div class="md:max-w-[70%] mx-auto flex flex-col gap-9 max-md:p-5">
        <div
          class="flex flex-col rounded-lg bg-[#050F1E] border border-[#536DFF] items-center py-10 gap-4"
        >
          <h3 class="text-4xl font-medium text-center">
            ¡Creemos algo juntos!
          </h3>
          <p class="text-lg text-center max-w-5xl">
            ¿Tienes una idea en mente? ¡Déjanos ayudarte a convertirla en
            realidad! Trabajemos juntos para crear productos que se adapten
            perfectamente a tu imaginación y necesidades.
          </p>
        </div>
        <div class="grid md:grid-cols-3 gap-8">
          {
            stepsImgs.map((img) => (
              <img src={img.src} alt={img.name} class="w-full" />
            ))
          }
        </div>
        <div class="col-span-3 flex justify-center items-center">
          <p
            class="absolute lg:text-[15px] max-w-52 sm:max-w-xl md:max-w-lg text-center"
          >
            Nos destacamos por nuestra dedicación a la calidad y la innovación
            en cada uno de nuestros productos
          </p>
          <img
            src={ElectricFenceImg.src}
            alt="Electric fence img"
            class="h-64 w-full object-cover rounded-4xl"
          />
        </div>
      </div>
    </section>
    <section class="min-h-screen bg-black">
      <div class="md:max-w-[70%] md:mx-auto max-md:p-3">
        <h4 class="text-xl font-bold">Contacta a nuestro Equipo</h4>
        <p class="text-lg mb-4">
          Estamos aquí para escucharte y conversar acerca de tu proyecto,
          construyamos algo impresionante juntos
        </p>
        <div class="grid md:grid-cols-2 gap-10">
          <div class="border border-[#4F4F4F] px-6 py-4 rounded-2xl">
            <form action="" class="grid md:grid-cols-2 gap-4">
              <div class="max-lg:col-span-2 flex flex-col gap-1">
                <label for="name">Nombre</label>
                <Input placeholder="Nombre" />
              </div>
              <div class="max-lg:col-span-2 flex flex-col gap-1">
                <label for="name">Apellidos</label>
                <Input placeholder="Apellidos" />
              </div>
              <div class="col-span-2 flex flex-col gap-1">
                <p>Email</p>
                <Input placeholder="Email" />
              </div>
              <div class="col-span-2 flex flex-col gap-1">
                <p>Telefono</p>
                <Input placeholder="Telefono" />
              </div>
              <div class="col-span-2 flex flex-col gap-1">
                <p>Asunto</p>
                <Input placeholder="Asunto.." />
              </div>
              <div class="col-span-2 flex flex-col gap-1">
                <p>Mensaje</p>
                <textarea
                  name="message"
                  id="message"
                  rows="5"
                  class="bg-[#222222] outline-none p-2 w-full rounded-md resize-none"
                  placeholder="Escribe tu mensaje..."></textarea>
              </div>
              <div class="col-span-2 flex justify-center">
                <button
                  class="rounded-xl bg-[#13315C] min-w-42 min-h-11 font-medium"
                  >Enviar</button
                >
              </div>
            </form>
          </div>
          <div class="flex flex-col gap-10">
            <div
              class="flex flex-col gap-5 rounded-xl border border-[#4F4F4F] px-10 py-6"
            >
              <div class="flex gap-4">
                <img
                  src={UbicationIcon.src}
                  alt="Ubication icon"
                  width="20"
                  height="29"
                />
                <p>Jr. San Jorge 302, Comas, Lima, Perú</p>
              </div>
              <div class="flex gap-4">
                <img
                  src={PhoneIcon.src}
                  alt="Ubication icon"
                  width="28"
                  height="29"
                />
                <p>+51 947 771 252</p>
              </div>
              <div class="flex gap-3">
                <img
                  src={MaileIcon.src}
                  alt="Ubication icon"
                  width="32"
                  height="24"
                />
                <p>ventas@aiotronic.com.pe</p>
              </div>
            </div>
            <div>
              <div class="border border-[#536DFF] rounded-xl">
                <iframe
                  class="w-full h-[55vh] grayscale rounded-xl"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d222498.14857650475!2d-77.0560435753165!3d-12.024438066304075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d0591e867473%3A0x9feffc7f2e5f6158!2sSan%20Jorge%20300%2C%20Comas%2015313!5e0!3m2!1ses-419!2spe!4v1707941767727!5m2!1ses-419!2spe"
                  width="600"
                  height="450"
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-[#0B2545] py-5">
      <div
        class="md:w-[70%] mx-auto flex max-md:flex-col items-center gap-2 justify-center"
      >
        <img src={AiotronicMiniIcon.src} alt={AiotronicLogo.name} />
        <p class="text-center">
          © {currentYear} AIOTRONIC. Todos los derechos reservados.
        </p>
      </div>
    </footer>

    <GsapClient client:load />
  </body>
</html>
